@page
@model MyStore.Pages.NewFolder.IndexModel
@{
}

<br>

<h2 style="text-align:center;">List of Clients</h2>
<hr>
<a class="btn btn-primary btn-sm" href="/NewFolder/create">New Client</a>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Created At</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.listClients)
        {  
            <tr>
                <td>@item.id</td>
                <td>@item.name</td>
                <td>@item.email</td>
                <td>@item.phone</td>
                <td>@item.address</td>
                <td>@item.created_at</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="/NewFolder/edit?id=@item.id">Edit</a>
                    <a class="btn btn-danger btn-sm" href="/NewFolder/delete?id=@item.id">Delete</a>
                </td>
            </tr>

        }
    </tbody>
</table>